LLM_API_KEY=<api_key>
LLM_BASE_URL=<open_ai_compability_api>
LLM_MODEL=<model>

TAVILY_API_KEY=<tavily_api_key>

APP_HOST=0.0.0.0
APP_PORT=8000

MAX_TOKENS=1024
TEMPERATURE=0.2

DATA_DIR=./data
MAX_AGENT_STEPS=5